
 

.imgMap{   
  width: 100%;
   border: 2px solid red; 
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   padding: 0 4px;
  
}

.imgContainer{    
  width: 90%;
  border: 2px solid red;
  margin: auto auto;  
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  
}

.img{   
  margin: auto auto;
  width: 100%; 
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} 




@media screen and (min-width: 800px) {  
  
  .imgContainer {
    -ms-flex: 0%;
    flex: 50%;
    max-width: 50%;
  }
  
} 

@media screen and (min-width: 600px) {  
  
  .imgContainer {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  
}