

.footer {    
  width: 100%;
  padding: 20px;
  background-color: rgba(36,45,52,1);  
}  

.startFooter {  
  display: grid;   
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; 
}

.conceptText h6{  
  color: #ffffff; 

} 

.conceptText p {  
  color: #737373;
} 

.adresseLink h6{  
  color: #ffffff; 
} 

.adresseLink div{   
  color: #737373;
} 

.openingContactDetails h6{  
  color: #ffffff; 
} 

.openingContactDetails div{  
  color: #737373;
} 

.parkingGarage h6{  
  color: #ffffff; 
} 

.parkingGarage div {  
  color: #737373;
} 

.jobsImpressumDatenschutzerklärungLink  div {   
  margin: 10px 0; 
  padding: 5px 5px;
  color: red; 
  background-color: #ffffff; 
  width: max-content;
} 


.copyrightLink {  
  color: #737373; 
  display: flex;

} 

.link { 
  color: #a57d38;
} 

.endFooter {    
  width: 100%;
  display: flex; 
  justify-content: space-between;  
  align-items: center;
  border-top: 2px solid  #737373;
}  

.socialMedia {  
 
}

.socialMediaUl {   
  list-style: none;
  display: flex; 
} 

.socialMediaUl li { 
  margin: 0 10px
} 


@media screen and (min-width: 1024px) {
   
  .startFooter {  
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
  } 

  .conce
}