

.footer {    
  width: 100%;
  padding: 20px;
  background-color: rgba(36,45,52,1);  
} 

.conceptText h6{  
  color: #ffffff; 

} 

.conceptText p {  
  color: #737373;
} 

.adresseLink h6{  
  color: #ffffff; 
} 

.adresseLink div{   
  color: #737373;
} 

.