/*
$color-white:#ffffff;  
$footer-color:#737373;
$color-gold:#a57d38; 
$color-dark:#242d34; 
*/

.navbar {  
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color:aquamarine;
} 

.logoName{ 
 width: 40%;
} 

.links{  
  width: 60%;
  display: flex; 
  justify-content: space-around;
}  


.mobileVersion{   
  display: flex;  
  justify-content: center; 
  align-items: center;
  visibility: visible;  
  border: 1px solid  #a57d38;
  border-radius: 60%; 
}  
.mobileVersion:hover{    
  border: 1px solid  #a57d38;
  background-color: #242d34; 
  border-radius: 60%; 
} 

.fontRed { 
  background-color: #242d34; 
  border-radius: 60%;  
  border: 2px solid  #a57d38;
} 

.mobileVersion img {  
  width: 40px; 
  margin: 5px;  
  margin-left:10px ; 
  margin-right:10px ;
  margin-top: 10px;
}

.desktopVersion{   
  display: none;
  visibility: hidden;
} 


v