.navbar {  
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color:aquamarine;
} 

.logoName{ 
 width: 40%;
} 

.links{  
  width: 60%;
  display: flex; 
  justify-content: space-around;
} 

.fontRed { 
  background-color: $color-dark; 
  border-radius: 60%;  
  border: 2px solid  $color-gold;
}