/*
$color-white:#ffffff;  
$footer-color:#737373;
$color-gold:#a57d38; 
$color-dark:#242d34; 
*/




.navbarCenter{   
  width: 100%;
  display: flex; 
  justify-content: center;
  
}

.headerLinks{  
  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  

  margin: auto auto; 
  padding: 10px;
  margin-bottom: 50px;
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
 
  border-radius: 40px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 85%;
}   

 .mobileVersion{   
  display: flex;  
  justify-content: center; 
  align-items: center;
  visibility: visible;  
  border: 1px solid  #a57d38;
  border-radius: 60%; 
}  
 .mobileVersion:hover{    
  border: 1px solid  #a57d38;
  background-color: #242d34; 
  border-radius: 60%; 
} 
.active{ 
  background-color: #242d34; 
  border-radius: 60%;  
  border: 2px solid  #a57d38;
}

.mobileVersion img {  
  width: 40px; 
  margin: 5px;  
  margin-left:10px ; 
  margin-right:10px ;
  margin-top: 10px;
}

a .desktopVersion{   
  display: none;
  visibility: hidden;
} 



@media screen and (min-width: 1024px) {  
 
  .navbarCenter{   

    position: sticky; 
    overflow: hidden;
    z-index: 2;
    top: 0;  
  
    width: 100%;
  }


  .headerLinks{   
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    
      
    justify-content: space-around; 
    margin-top: 0px ;
    margin-bottom: 0px; 
    border-radius: 0;  
    bottom:unset; 
 

    -webkit-box-shadow: 0 8px 6px -6px #242d34;
    -moz-box-shadow: 0 8px 6px -6px #242d34;
         box-shadow: 0 8px 6px -6px #242d34;
  }   
  

  .active{  
    
    background-color:initial;
    border-radius: 0;  
    border: none; 
    border-top: 2px solid #a57d38; 
  }

   a .mobileVersion{   
    display: none;
    visibility: hidden;
  } 
  a .desktopVersion{     
     
    
    
    display: block;
    visibility: visible;
  }  

  

 
}